@font-face {
    font-family: 'SigmarOne';
    src: url('SigmarOne-Regular.ttf') format('opentype');
    font-weight: normal; 
    font-style: normal;
  }

body{
    background-color: #1c0b2b;
    color: white;
    font-family: 'SigmarOne';
  }
  
.cabecalho{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  
.corpo_game{
    background-color: #6f95ff;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
    border: 5px solid #5c65c0;
    border-radius: 10px;  
  }
  
  #questoes_game{
    color:white;
  }
  
  #resposta_game1{
    width: 425px;
    height: 85px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  #resposta_game2{
    width: 425px;
    height: 85px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  #resposta_game3{
    width: 425px;
    height: 85px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }
  
  #resposta_game4{
    width: 425px;
    height: 85px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }